<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="closeSidebar()">
        <mat-icon>face</mat-icon>
        <span class="caption">Sign up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="closeSidebar()">
        <mat-icon>input</mat-icon>
        <span class="caption">Login</span>
    </a>
    <a *ngIf="showThisRoute" mat-list-item routerLink="/training" (click)="closeSidebar()">
        <mat-icon>fitness_center</mat-icon>
        <span class="caption">Training</span>
    </a>
    <mat-list-item *ngIf="showThisRoute">
        <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span (click)="logoutUser()" class="caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>